:root{
    --color-brand:#ef4444;
    --color-danger: #ff0000;
    --color-success: #55ff55;

    --color-text-primary: #ffffff;
    --color-text-secondary: #000000;
    --color-text-tertiary: #ef4444;

    --space-1:4px;
    --space-2:8px;
    --space-3:16px;
    --space-4:24px;
    --space-5:32px;

    --font-family-base:'Inter',sans-Serif;
    --font-size-small:0.875rem;
    --font-size-base:1rem;
    --font-size-large:1.125rem;
    --font-size-xlarge:1.5rem;

    --font-weight-normal:400;
    --font-weight-semibold:600;

    --shadow-small: 0 1px 2px rgba(0,0,0,0.5);
    --shadow-large: 0 4px 6px rgba(0,0,0,0.1);
}