:root{
    --primary-color:#ffffff;
    --secondary-color:#000000;
    --tertiary-color:#6441A4;
    --supreme-color:#392EFC;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    background:var(--supreme-color);
    color: var(--primary-color);
    font-size: 1em;
}
.nav-links{
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-links a{
    text-transform: uppercase; 
    text-decoration:none;
    font-size: none;
}
.nav-links a:hover{
    opacity: 0.6;
    cursor: pointer;
    text-decoration: underline;
}